
CI=false
CLIENT_URL=https://bike-service-website-gamma.vercel.app
CLOUDINARY_API_KEY=555818197657351
CLOUDINARY_API_SECRET=rELyiUfQPZXgqfCb9hqUe2g9ZfE
CLOUDINARY_CLOUD_NAME=ddtcoh2pq
EMAIL_PASS="kykd thbq pjui bitm"
EMAIL_USER=sohamdang313131@gmail.com
FROM_EMAIL=aanchal2115@gmail.com
FROM_NAME=Dugdug-wheels
JWT_EXPIRE=30d
JWT_REFRESH_SECRET=gfhfhcjhcjf7t75757533
JWT_SECRET=Shuihihg675464645
MAIL_HOST=smtp.gmail.com
MONGO_URI=mongodb+srv://aan:2hUO8ZrbsQaR5pzy@cluster0.zxddb3t.mongodb.net/bikeservice-dugdugwheels
NODE_ENV=development
PORT=5000
RAZORPAY_KEY_ID=rzp_test_SGgUxNXJPhFnL7
RAZORPAY_KEY_SECRET=gOf4SoUh0IiNkCRlzgXWlx4c